<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout (~{::body})">

<body>

<div th:fragment="content">

    <h3>Your Decisions</h3>

    <table class="table table-striped mt-3">

        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="decision : ${decisions}">
            <td th:text="${decision.id}"></td>
            <td th:text="${decision.title}"></td>
            <td th:text="${decision.status}"></td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>