<div th:fragment="sidebar" class="p-3">

    <h4 class="text-white">Decision Logger</h4>

    <ul class="nav nav-pills flex-column mt-4">

        <!-- ADMIN MENU -->
        <li class="nav-item mb-2"
            th:if="${session.user.role == T(com.nikhitech.decisionlogger.model.Role).ADMIN}">
            <a class="nav-link text-white"
               th:href="@{/admin/dashboard}">
                Users
            </a>
        </li>

        <!-- USER MENU -->
        <li class="nav-item mb-2"
            th:if="${session.user.role == T(com.nikhitech.decisionlogger.model.Role).USER}">
            <a class="nav-link text-white"
               th:href="@{/decision/dashboard}">
                Decisions
            </a>
        </li>

        <!-- Logout -->
        <li class="nav-item mt-4">
            <a class="nav-link text-danger"
               th:href="@{/auth/logout}">
                Logout
            </a>
        </li>

    </ul>

</div>