<div th:fragment="sidebar" class="p-3">

    <h4 class="text-white">Decision Logger</h4>

    <ul class="nav nav-pills flex-column mt-4">

        <li class="nav-item mb-2">
            <a class="nav-link text-white"
               th:href="@{/}">
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2"
            th:if="${session.user != null}">
            <a class="nav-link text-white"
               th:href="@{/decision/dashboard}">
                Decisions
            </a>
        </li>

        <li class="nav-item mb-2"
            th:if="${session.user != null and session.user.role.name() == 'ADMIN'}">
            <a class="nav-link text-white"
               th:href="@{/admin/dashboard}">
                Users
            </a>
        </li>

        <li class="nav-item mt-4">
            <a class="nav-link text-danger"
               th:href="@{/auth/logout}">
                Logout
            </a>
        </li>

    </ul>

</div>