<div th:fragment="sidebar">

	<!-- AdminLTE Sidebar -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">

		<!-- Brand -->
		<a class="brand-link"> <span class="brand-text font-weight-light">
				Decision Logger </span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">

			<nav class="mt-2">

				<ul class="nav nav-pills nav-sidebar flex-column"
					data-widget="treeview" role="menu">

					<!-- =========================
ADMIN MENU
========================= -->


					 <li class="nav-item" th:if="${session.user.role.name() == 'ADMIN'}">

						<a th:href="@{/admin/get-user}" class="nav-link"
						th:classappend="${activeMenu == 'admin'} ? ' active'"> <i
							class="nav-icon fas fa-users"></i>
							<p>Users</p>

					</a>

					</li>					

					<li class="nav-item" th:if="${session.user.role.name() == 'USER'}">

						<a th:href="@{/decision/get-user-decision}" class="nav-link"
						th:classappend="${activeMenu == 'decision'} ? ' active'"> <i
							class="nav-icon fas fa-list"></i>
							<p>Decisions</p>

					</a>

					</li> 
				
					<li class="nav-item mt-3"><a th:href="@{/auth/logout}"
						class="nav-link text-danger"> <i
							class="nav-icon fas fa-sign-out-alt"></i>

							<p>Logout</p>

					</a></li>

				</ul>

			</nav>

		</div>

	</aside>

</div>